<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}">
    <title>List routes</title>
</head>
<body>
    <div class="header">
            <h1>Application for your routes analysis</h1>
      </div>
      <div class="MainApp">
        <div class="LeftSide">
           <input type="button" class="NavL" onclick="location.href='http://localhost:5000/'" value="Main menu"/>
           <input type="button" class="NavL" onclick="location.href='http://localhost:5000/uploader'" value="Choose JSON"/>
            <input type="button" class="NavL" onclick="location.href='http://localhost:5000/list_routes'" value="List routes"/>
           <input type="button" class="NavL" onclick="location.href='http://localhost:5000/set_params'" value="Set Parameters"/>
            <form action = "http://localhost:5000/get_results" method = "POST"
                   enctype = "multipart/form-data">
                <input type = "submit" class="NavL" value="Process JSON File"/>
            </form>
        </div>
      </div>
      <div class="MainContent">
        <table border=1>
            {% for line in result %}
            <tr>
                {% for el in line %}
                    <th>{{ el }}</th>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
      </div>
</body>
</html>