<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}">
    <title>List routes</title>
</head>
<body>
    <div class="header">
            <h1>Routes Analyser</h1>
      </div>
      <div class="MainApp">
        <div class="LeftSide">
           <input type="button" class="NavL" onclick="location.href='http://localhost:5000/'" value="Main menu"/>
           <input type="button" class="NavL" onclick="location.href='http://localhost:5000/uploader'" value="Choose JSON"/>
            <input type="button" class="NavL" onclick="location.href='http://localhost:5000/list_routes'" value="List routes"/>
           <input type="button" class="NavL" onclick="location.href='http://localhost:5000/set_params'" value="Set Parameters"/>
            <form action = "http://localhost:5000/get_results" method = "POST"
                   enctype = "multipart/form-data">
                <input type = "submit" class="NavL" value="Process JSON File"/>
            </form>
        </div>
        <form action="http://localhost:5000/list_routes" method = "POST"
            enctype = "multipart/form-data">
        <div class="MainContent">
            <input type="submit" name="submit_routes" value="Show routes"/>
            <table border=1>
                <tr>
                    <th>Object</th>
                    <th>Path</th>
                    <th>Filename</th>
                    <th>Plot</th>
                </tr>
                {% for line in result[1:] %}
                <tr>
                    {% for el in line %}
                        <td><small>{{ el }}</small></td>
                    {% endfor %}
                    <td><input type="checkbox" name="{{ line[2] }}"></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        </form>
        <div class="RightSide">
            <h2>Routes on Map</h2>
            <img id="RoutesImg" src="{{ url_for('static', filename='routes.png') }}"/>
        </div>
      </div>
</body>
</html>