<!DOCTYPE html>
<html lang="en">

<head>
   <link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}">
</head>

<body>
   <div class="header">
      <h1>Routes Analyser</h1>
   </div>
   <div class="MainApp">
      <div class="LeftSide">
         <input type="button" class="NavL" onclick="location.href='http://localhost:5000/'" disabled value="Main menu"/>
         <input type="button" class="NavL" onclick="location.href='http://localhost:5000/uploader'" value="Choose JSON"/>
         <input type="button" class="NavL" onclick="location.href='http://localhost:5000/list_routes'" value="List routes"/>
         <input type="button" class="NavL" onclick="location.href='http://localhost:5000/set_params'" value="Set Parameters"/>
         <form action = "http://localhost:5000/get_results" method = "POST"
               enctype = "multipart/form-data">
            <input type = "submit" class="NavL" value="Process JSON File"/>
         </form>
      </div>
      <div class="MainContent">
         <h2>Parameters</h2>
         <table border=1>
            <tr>
               <td>Filename</td>
               <td> {{ filepath }} </td>
            </tr>
         {% for key, value in params.items() %}
            <tr>
               <td width="50"> {{ key }} </td>
               <td width="80" align="right"> {{ value }} </td>
            </tr>
         {% endfor %}
            <tr>
               <td>Multiprocessing</td>
               <td>{{ proc }}</td>
            </tr>
         </table>
      </div>
      <div class="RightSide">
         <h2>Routes on Map</h2>
         <img id="RoutesImg" src="{{ url_for('static', filename='routes.png') }}"/>
      </div>
   </div>
</body>

</html>