<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Set Parameters</title>
    <link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}">
</head>

<body>
  <div class="header">
        <h1>Application for your routes analysis</h1>
  </div>
  <div class="MainApp">
    <div class="LeftSide">
       <input type="button" class="NavL" onclick="location.href='http://localhost:5000/'" value="Go back"/>
       <input type="button" class="NavL" onclick="location.href='http://localhost:5000/uploader'" value="Choose JSON"/>
        <input type="button" class="NavL" onclick="location.href='http://localhost:5000/list_routes'" value="List routes"/>
       <input type="button" class="NavL" onclick="location.href='http://localhost:5000/set_params'" value="Set Parameters"/>
    </div>
  </div>
  <div class="MainContent">
    <form action="http://localhost:5000/set_params" method = "POST"
                enctype = "multipart/form-data">
        <table border=1>
            <tr>
                <th width="50">x1</th>
                <th><input type="number" step="0.01" name="x1" value="{{ x1 }}"/></th>
                <th width="50">y1</th>
                <th><input type="number" step="0.01" name="y1" value="{{ y1 }}"/></th>
            </tr>
            <tr>
                <th>x2</th>
                <th><input type="number" step="0.01" name="x2" value="{{ x2 }}" /></th>
                <th>y2</th>
                <th><input type="number" step="0.01" name="y2" value="{{ y2 }}" /></th>
            </tr>
            <tr>
                <th>t1</th>
                <th><input type="number" step="0.01" name="t1" value="{{ t1 }}" /></th>
                <th>t2</th>
                <th><input type="number" step="0.01" name="t2" value="{{ t2 }}" /></th>
            </tr>
        </table>

        <input type="submit" name="submit_params" value="Submit"/>
    </form>
  </div>
</body>
</html>