<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Set Parameters</title>
</head>

<a href="http://localhost:5000/">Go back</a>
<br><br>

<body>
<form action="http://localhost:5000/set_params" method = "POST"
            enctype = "multipart/form-data">
    <table>
        <tr style="height:50px">
            <td colspan="4" align="left">Bottom Left Point</td>
        </tr>
        <tr>
            <th width="50">x1</th>
            <th><input type="number" step="0.01" name="x1" value="0"/></th>
            <th width="50">y1</th>
            <th><input type="number" step="0.01" name="y1" value="0"/></th>
        </tr>
        <tr style="height:50px">
            <td colspan="4" align="left">Top Right Point</td>
        </tr>
        <tr>
            <th>x2</th>
            <th><input type="number" step="0.01" name="x2" value="1000" /></th>
            <th>y2</th>
            <th><input type="number" step="0.01" name="y2" value="1000"/></th>
        </tr>
        <tr>
        <tr style="height:50px">
            <td colspan="4" align="left">Time Range</td>
        </tr>
        <tr>
            <th>t1</th>
            <th><input type="number" step="0.01" name="t1" value="0"/></th>
            <th>t2</th>
            <th><input type="number" step="0.01" name="t2" value="1000"/></th>
        </tr>
    </table>

    <input type="submit" name="submit_params" value="Submit"/>
</form>

</body>
</html>