<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Set Parameters</title>
    <link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}">
</head>

<body>
  <div class="header">
        <h1>Application for your routes analysis</h1>
  </div>
  <div class="MainApp">
    <div class="LeftSide">
       <input type="button" class="NavL" onclick="location.href='http://localhost:5000/'" value="Main menu"/>
       <input type="button" class="NavL" onclick="location.href='http://localhost:5000/uploader'" value="Choose JSON"/>
        <input type="button" class="NavL" onclick="location.href='http://localhost:5000/list_routes'" value="List routes"/>
       <input type="button" class="NavL" onclick="location.href='http://localhost:5000/set_params'" value="Set Parameters"/>
        <form action = "http://localhost:5000/get_results" method = "POST"
                   enctype = "multipart/form-data">
                <input type = "submit" class="NavL" value="Process JSON File"/>
        </form>
    </div>
  </div>
  <div class="MainContent">
    <form action="http://localhost:5000/set_params" method = "POST"
                enctype = "multipart/form-data">
        <table border=1>
            <tr>
                <th width=50>x1</th>
                <th><input type="number" step="0.01" name="x1" value="{{ x1 }}"/></th>
                <th width=50>y1</th>
                <th><input type="number" step="0.01" name="y1" value="{{ y1 }}"/></th>
            </tr>
            <tr>
                <th>x2</th>
                <th><input type="number" step="0.01" name="x2" value="{{ x2 }}" /></th>
                <th>y2</th>
                <th><input type="number" step="0.01" name="y2" value="{{ y2 }}" /></th>
            </tr>
            <tr>
                <th>t1</th>
                <th><input type="number" step="0.01" name="t1" value="{{ t1 }}" /></th>
                <th>t2</th>
                <th><input type="number" step="0.01" name="t2" value="{{ t2 }}" /></th>
            </tr>
            <tr>
                <td colspan="2">Use multiprocessing?</td>
                <td colspan="2"><input id="check" type="checkbox" align="center" name="multiprocessing"/></td>
            </tr>
        </table>
        <input type="submit" name="submit_params" value="Submit"/>
    </form>
  </div>
  <div class="RightSide">
     <canvas id="drawContainer" width="680" height="520" style="border: 1px solid #333"></canvas>
     <script>
      // Below code is the direct result of performing "Ctrl+C - Ctrl-V" operation from:
      // https://prodevhub.com/2019/12/12/understanding-canvas-draw-a-line-in-canvas-using-mouse-and-touch-events-in-javascript/
        const canvasEle = document.getElementById('drawContainer');
        const context = canvasEle.getContext('2d');
        let startPosition = {x: 0, y: 0};
        let lineCoordinates = {x: 0, y: 0};
        let isDrawStart = false;
        var img = new Image();

        img.onload = function() {
            context.drawImage(img, 20,20);
        }
        img.src = "static/routes.png";

        const getClientOffset = (event) => {
            const {pageX, pageY} = event.touches ? event.touches[0] : event;
            const x = pageX - canvasEle.offsetLeft;
            const y = pageY - canvasEle.offsetTop;

            return {
               x,
               y
            }
        }

        const drawLine = () => {
           context.beginPath();
           context.moveTo(startPosition.x, startPosition.y);
           context.lineTo(lineCoordinates.x, lineCoordinates.y);
           context.stroke();
        }

        const mouseDownListener = (event) => {
           startPosition = getClientOffset(event);
           isDrawStart = true;
        }

        const mouseMoveListener = (event) => {
          if(!isDrawStart) return;

          lineCoordinates = getClientOffset(event);
          clearCanvas();
          drawLine();
        }

        const mouseupListener = (event) => {
          isDrawStart = false;
        }

        const clearCanvas = () => {
           context.clearRect(0, 0, canvasEle.width, canvasEle.height);
           img.onload();
        }

        canvasEle.addEventListener('mousedown', mouseDownListener);
        canvasEle.addEventListener('mousemove', mouseMoveListener);
        canvasEle.addEventListener('mouseup', mouseupListener);

        canvasEle.addEventListener('touchstart', mouseDownListener);
        canvasEle.addEventListener('touchmove', mouseMoveListener);
        canvasEle.addEventListener('touchend', mouseupListener);
     </script>
  </div>
</body>
</html>