<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
<link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}">
</head>

<body>
  <div class="header">
        <h1>Routes Analyser</h1>
  </div>
  <div class="MainApp">
    <div class="LeftSide">
       <input type="button" class="NavL" onclick="location.href='http://localhost:5000/'" value="Main menu"/>
       <input type="button" class="NavL" onclick="location.href='http://localhost:5000/uploader'" value="Choose JSON"/>
        <input type="button" class="NavL" onclick="location.href='http://localhost:5000/list_routes'" value="List routes"/>
       <input type="button" class="NavL" onclick="location.href='http://localhost:5000/set_params'" value="Set Parameters"/>
       <form action = "http://localhost:5000/get_results" method = "POST"
           enctype = "multipart/form-data">
        <input type = "submit" class="NavL" value="Process JSON File"/>
       </form>
    </div>
    <div class="MainContent">
      <form action = "http://localhost:5000/uploader" method = "POST"
        enctype = "multipart/form-data">
        <input type="file" name="json_file" value="Choose JSON File"/>
        <input type="submit" value="Submit JSON File"/>
      </form>
      <table border=1>
          <tr>
              <td>Chosen file</td>
              <td>{{ f_name }}</td>
          </tr>
      </table>
    </div>
  </div>
</body>
</html>